<h2>Tweets <%= link_to "(+)", new_tweet_path(@tweet) %></h2>

<body>
  <div class="mainFeed">
    <ul>
      <% @tweets.each do |tweet| %>
        <div class="tweet">
          <%= link_to tweet.content, tweet %>
        </div>
      <% end %>
    </ul>
  </div>
</body>
