<ul>
  <% @users.each do |user| %>

  <div class="userContainer">
      <div class = "indexpage">
        <div class="pic">
            <img class = 'userpic' src = "<%= user.avatar%>" alt = "prof pic">
        </div>

        <div class="userindexinfo">
            <div class="fullname">
                <strong><%= "#{user.first_name} #{user.last_name}"%></strong>
                <p>@<%= user.username %></p>
            </div>
        </div>
      </div>
  </div>
  <% end %>
</ul>
