/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  background-color:	#E7ECF0;
  font-family: helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color:
}

header {
  font-family: helvetica, sans-serif;
  background: white;
  color: black;
  height: 50px;
  border-bottom: 2px lightgrey solid;
}

.stats {
  padding: 0px 5px;
}

.head {
  display: flex;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 20px;
}

.viewtweet {
  margin-left: 5px;
}

.headCont {
  font-family: helvetica, sans-serif;
  font-size: 30px;
  margin-top: 5px;
}

.headuser {
  font-family: helvetica, sans-serif;
  font-size: 15px;
  margin-top: 15px;
  text-decoration: none;
}

.mainFeed {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.userContainer {
  width: 300px;
  border: solid grey 2px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.first_row {
  display: flex;
  justify-content: space-around;
}

.userusername {
  padding-right: 20px;
}

.userstats {
  display: flex;
  flex-direction: row;
}

.second_row {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}

.number {
  font-family: helvetica, sans-serif;
  color: blue;
  margin-top: 0px;
  margin-left: 20px;
}

.userfollowcount {
  padding: 0px 20px;
}

.userinfo {
  padding-top: 33px;
}

.userpic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px;
  border: solid 2px grey;
}

.tweetShow {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.newtweet {
  display: flex;
  justify-content: center;
  padding: 0px;
}

.tweet {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px auto;
  padding: 10px;
  border: solid 2px grey;
  width: 500px;
  background-color: white;
  border-radius: 25px;
}

.tweetcontent {
  display: flex;
  justify-content: center;
}

.tweetUserInfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0px;
}

.tweetusername {
  margin-top: 15px;
}

.tweetusercontent {
  padding-left: 5px;
  padding-right: 5px;
}

.tweetfullname {
  margin-top: 15px;
  margin-right: 5px;
}


a {
  text-decoration: none;
}

.tweetstats {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.fav {
  color: red;
  text-decoration: none !important;
}

.nofav {
  color: lightgrey;
  text-decoration: none !important;
}

.tweetpic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 2px grey;
}

.profpic {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 2px solid grey;
}

.userpage {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.followbutton {
  margin-top: 50px;
  margin-right: 20px;
}

.tweetlabel {
  margin-top: 260px;
  text-align: center;
}

.deletetweet {
  margin-top: 15px;
  margin-left: 40px;
}

.label {
  text-align: center;
}

.viewreply {
  text-align: center;
}
